*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

/*-----------Estilos del header------------*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    height: 10vh;
    background-color: rgb(207, 206, 206);
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header img{
    width: 180px;
    height: 100px;
    /*border: solid 2px gray;*/
    padding: 1.5rem;
    transition: .3s all;
}

header img:hover{
    transform: scale(1.05);
}

header h1{
    color: rgb(3, 70, 97);
    font-size: 24px;
    font-weight: bolder;
    margin: 0 2rem 1rem 0;
    transition: .3s all;
}

header h1:hover{
    color: rgb(140, 148, 151);
    transform: scale(1.02);
}

/*-----------Estilos del main------------*/

main{
    min-height: 80vh;
    padding: 2rem;
    background: linear-gradient(0deg, rgb(105, 135, 160) 5%, rgb(255, 255, 255));
}

.container__title{
    padding: 16px 0;
    text-align: center;
    border: none;
    margin-bottom: 2rem;
    border-radius: 8px;
    background: rgba(105, 105, 105, .1);
}

.container__title h2{
    margin-bottom: 1rem;
    color: rgb(83, 83, 83);
}

.container__title p{
    color: rgb(161, 161, 161);
}


/*----Contenedores msg----*/
.container__msg{
    display: flex;
}

.container__input{
    width: 50%;
    margin-right: 16px;
}

.container__output{
    background-image: url("/challenge-encriptador/src/Figure-01.png");
    background-repeat: no-repeat;
    background-position: center;
   
    margin-left: 16px;
    border-radius: 16px;
    width: 50%;
    padding: 1rem;
    background-color: white;
    /*text-align: center;*/
}

.container__msg p{
    color: rgb(90, 89, 89);
    font-weight: bolder;
    margin-bottom: 16px;
}

.text__area__input{
    width: 100%;
    height: 300px;
    background-color: rgba(105, 105 ,105 ,.1);
    border: none;
    margin-top: 4rem;
    color: greenyellow;
    padding: 1rem;
    font-size: 1.5rem;
}
.notas{
    text-align: right;
    font-size: 12px;
    color: rgb(158, 155, 155);
    margin-top: 8px;
}

.button__section{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.container__input button{
    font-size: 1rem;
    width: 45%;
    border-radius: 16px;
    padding: 8px;
    font-weight: bolder;
    height: 3rem;
}

.button__code{
    color: rgb(226, 220, 220);
    background-color: rgb(0, 87, 128);
    border: none;
}

.button__decode{
    color: rgb(0, 87, 128);
    background-color:rgb(149, 156, 168) ;
    border: solid 3px rgb(0, 87, 128);
}


.text__area__output{
    width: 100%;
    height: 200px;
    color: cyan;
    border: solid 1px whitesmoke;
    padding: 1rem;
    font-size: 1.5rem;
}

.container__out{
    /*background-image: url("/challenge-encriptador/src/Figure-01.png");
    background-repeat: no-repeat;*/
    border: solid 1px rgb(136, 34, 34);
}

.container__output button{
    background-color: white;
    border: solid 2px rgb(0, 87, 128);
    border-radius: 16px;
    height: 3rem;
    width: 200px;
    font-weight: bolder;
}


main button:hover{
    transform: scale(1.02);
}

main button:active{
    box-shadow: 2px 2px 4px white;
}

.button__copy:active{
    box-shadow: 2px 2px 4px black;
}

/*-----------Estilos del footer------------*/

footer{
    height: 10vh;
    background-color: rgb(48, 46, 46);
    color: aqua;
    padding: 1rem 2rem;
}

.clear{
    margin-top: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.button__reload{
    background: none;
    border: none;
}

.icon__reload{
    width: 40px;
    /*transition: 1.001s all;*/
}

.icon__reload:hover{
    transform: scale(1.1);
}

/*.clear div{
    border: solid 2px white;
   
}*/

.clear a{
    color: white;
    text-decoration: none;
    margin-left: 2rem;
}

.clear a:hover{
    border-bottom: solid 2px white;
}

.button__testeo{
    border: none;
    width: 120px;
    padding: 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
}

.button__testeo:active{
    box-shadow: 8px 8px 8px rgb(82, 77, 77);
}


/*--------Media Queries-----*/

@media screen and (max-width: 480px){
    /*----Estilos header----*/

    header h1{
        font-size: 12px;
        margin: 0 12px 1rem 0;
    }

    header img{
        width: 120px;
        height: 60px;
        padding: 12px;
    }

/*-----------Estilos del main------------*/

    main{
        padding: 1rem;
    }

    .container__title{
        font-size: 12px;
    }

/*----Contenedores msg----*/

    .container__msg{
        display: flex;
        flex-direction: column;
    }
    .container__input{
        width: 100%;
    }

    .container__output{
      
        width: 100%;
        margin-left: 0;
        height: 400px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .container__msg p{
        margin-bottom: 4px;
    }

    .text__area__input{
        margin-top: 1rem;
    }

    .container__output{
        width: 100%;
    }
    
    .button__section{
        margin-top: 1rem;
    }
    
    .container__input button{
        font-size: 12px;
        height: 40px;
    }
/*-----------Estilos del footer------------*/

    footer{
        padding: 1rem;
    }

    .clear{
        margin-top: 0rem;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .button__reload{
        background: none;
        border: none;
    }

    .icon__reload{
        width: 40px;
        /*transition: 1.001s all;*/
    }

    .icon__reload:hover{
        transform: scale(1.1);
    }

    /*.clear div{
        border: solid 2px white;
    
    }*/

    .icon__reload{
        width: 32px;
    }
    .clear{
    }
    .clear a{
        font-size: 12px;
        margin-left: 12px;
        
    }

    .clear a:hover{
        border-bottom: solid 2px white;
    }

}